.mobile-nav {
    display:none;
}

@media only screen and (max-width:600px){
    .mobile-nav{
        display:block;
        margin-right:20px;
        font-size:30px;
        color:#13491C;
        margin-bottom:20px;
        margin-top:30px;
    }

    .mobile-nav:hover{
        cursor:pointer;
    }
}